/* some style */
body {
    background-color: darkgray;
    font-family: "Lucida Grande";
}

a {
    text-decoration: none;
}

.app-container {
    background-color: aliceblue;
    display: block;
    height: 600px;
    padding: 10px;
    position: absolute;
    width: 350px;
}

/* Start View */
input.big {
    font-size: xx-large;
    margin-bottom: 35px;
    text-align: center;
}

.qb-container {
    padding-bottom: 20px;
}

.quick-buttons {
    background-color: white;
    box-shadow: 0 0 5px maroon inset;
    margin: auto;
    padding: 5px;
    width: 60%;
}

.quick-buttons.empty {
    color: gray;
    font-style: italic;
    text-align: center;
}

.quick-buttons a.button {
    background-color: white;
    border-radius: 12px;
    border: 1px solid gray;
    /* box-shadow: -1px 1px 2px black; */
    color: navy;
    display: inline-block;
    font-size: larger;
    height: 25px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    width: 25px;
}

a.button:hover {
    box-shadow: -2px 2px 2px black;
}

a.button:active {
    box-shadow: 0 0 1px black;
}

.quick-hover {
    font-size: small;
    margin: auto;
    padding-bottom: 5px;
    text-align: center;
    width: 50%;
}

.quick-hover.empty {
    color: darkgray;
}

.canceled-task {
    font-size: small;
    text-align: center;
}

.canceled-task button {
    margin: 5px;
}

button.start {
    color: blue;
    cursor: pointer;
    display: block;
    font-size: xx-large;
    margin-top: 40px;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    padding: 10px;
}

/* button.start:hover { */
/*     color: yellow; */
/*     text-shadow: -1px 1px black; */
/* } */

.day-summary {
    bottom: 60px;
    left: 10px;
    position: absolute;
    font-size: small;
}

.day-summary .title {
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: underline;
}

.task-summary {
    padding-bottom: 3px;
}

.task-summary .symbol {
    background-color: gray;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 5px;
    padding: 3px;
    text-align: center;
    width: 15px;
}

.all-tasks-summary {
    text-align: right;
    font-weight: bold;
}

/* Navbar */
.navbar {
    background-color: maroon;
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

.navbar .nav-button {
    color: white;
    font-size: small;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: white;
}

.nav-button:hover a {
    color: black;
}

.nav-button a {
    color: white;
}

.status-info {
    background-color: white;
    border: 1px solid black;
    color: red;
    font-size: small;
    padding: 4px;
    position: absolute;
    right: 5px;
    top: 5px;
}

/* Timer View */
.timer {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.title-box {
    font-size: xx-large;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15%;
    text-align: center;
    width: 80%;
}

.title-box a.symbol {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 30px;
}

.timer .title {
    display: inline-block;
    font-size: xx-large;
}

.actions {
    background-color: rgba(255, 255, 255, 0.1);
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 60%;
}

.action {
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: xx-large;
    font-weight: bold;
    height: 45px;
    margin: 15px;
    width: 45px;

    transition: box-shadow 0.2s;
}

.action:hover {
    box-shadow: 0 0 8px 2px gold;
}

.action.cancel {
    color: red;
}

.action.complete {
    color: green;
}

.notes {
    margin: auto;
    margin-top: 15px;
    opacity: 0.3;
    width: 60%;

    transition: opacity 0.3s;
}

.notes:hover,
.notes:focus {
    opacity: 1;
}

.notes textarea {
    border-width: 0;
    resize: none;
    width: 100%;
}

.notes:hover textarea,
:notes:focus textarea {
    border-width: 1px;
}

.notes textarea::-webkit-input-placeholder {
    text-align: center;
    font-size: x-large;
    font-style: italic;
}

.notes textarea::-moz-placeholder {
    text-align: center;
    font-size: x-large;
    font-style: italic;
}

.show-notes {
    font-family: "Courier New";
    font-size: small;
}

.summary {
    bottom: 60px;
    color: #555;
    font-size: small;
    font-style: italic;
    position: absolute;
    right: 10px;
}

/* Log Viewer */
.log-viewer {
    overflow-y: auto;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 50px;
}

.log {
    width: 100%;
}

.log-entry {
    border-bottom: 1px solid darkgray;
    position: relative;
    vertical-align: middle;
}

.log-entry:nth-child(even) {
    background-color: white;
}

.log-entry .task-name {
    font-size: large;
    font-weight: bold;
}

.log-entry .duration {
    color: gray;
    font-size: small;
    font-style: italic;
}

.log-entry .symbol {
    background-color: white;
    border-radius: 5px;
    border: 1px solid darkgray;
    font-size: x-large;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 5px;
    width: 25px;
}

/* Calendar */
.calendar {
    border-left: 1px solid black;
    border-top: 1px solid black;
    margin-top: 30px;
}

.day-col {
    background-color: navy;
    border-right: 1px solid lightgray;
    color: white;
    display: inline-block;
    text-align: center;
    width: 13.5%;
}

.calendar .day {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: inline-block;
    height: 40px;
    width: 13.5%;
}

.day.this-month {
   background-color: white;
}

.day .date {
    display: inline-block;
    padding: 2px;
}

.day.worked {
    background-color: lightgreen;
}

.day.selected {
    box-shadow: 0 0 2px 2px maroon inset !important;
}

.calendar:hover .day.worked {

}

.task-select {
    display: inline-block;
    width: 50%;
    -webkit-appearance: none;
}


/* Export */
textarea.export {
    font-family: monospace;
    font-size: medium;
    margin-top: 40px;
    width: 100%;
    height: 60%;
}

/* Timeline */
.timeline-container {
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding: 3px;
    position: relative;
}

.timeline-guide {
    border-right: 3px solid pink;
    bottom: 0;
    top: 0;
    pointer-events: none;
    position: absolute;
}

.task, .gap {
    display: inline-block;
}

span.task {
    background-color: lightgray;
    box-shadow: 0 0 2px black inset;
    color: white;
    cursor: pointer;
    font-size: x-small;
    height: 20px;
    line-height: 20px;
    position: relative;
    text-align: center;
}

span.task:hover {
    background-color: gray;
}

span.task.same-as-next {
    border-right: none !important;
}

.timeline-task-info {
    background-color: white;
    border: 1px solid black;
    color: black;
    display: none;
    height: 0;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    text-align: left;
    top: 100%;
    transition: height 0.3s;
    width: 150px;
}

span.task:hover .timeline-task-info {
    display: block;
    font-size: small;
    height: auto;
}

.pomodori {

}

.pomodoro {
    height: 5px;
    width: 10px;
    background-color: crimson;
}

/* Daily Totals */
.dailies {
    border: 1px solid darkgray;
}
.dailies .day {
    font-weight: bold;
}

.daily {
    padding: 2px;
}

.daily:nth-child(odd) {
    background-color: white;
}

.badge {
    float: right
}
