/* some style */
body {
    background-color: darkgray;
    font-family: "Lucida Grande";
}

a {
    text-decoration: none;
}

.app-container {
    background-color: aliceblue;
    display: block;
    height: 600px;
    padding: 10px;
    position: absolute;
    width: 350px;
}

/* Start View */
input.big {
    font-size: xx-large;
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
}

.quick-buttons {
    border: 1px solid darkgray;
    box-shadow: -1px 1px darkgray;
    margin-bottom: 40px;
    margin-top: 10px;
    margin: auto;
    padding: 5px;
    width: 60%;
}

.quick-buttons.empty {
    color: gray;
    font-style: italic;
    text-align: center;
}

.quick-buttons a.button {
    background-color: white;
    border-radius: 12px;
    border: 1px solid gray;
    /* box-shadow: -1px 1px 2px black; */
    color: navy;
    display: inline-block;
    font-size: larger;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    width: 25px;
}

a.button:hover {
    box-shadow: -2px 2px 2px black;
}

a.button:active {
    box-shadow: 0 0 1px black;
}

.quick-hover {
    font-size: small;
    margin: auto;
    text-align: center;
    width: 50%;
}

.quick-hover.empty {
    color: darkgray;
}

button.start {
    color: blue;
    display: block;
    font-size: xx-large;
    margin-top: 40px;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    padding: 10px;
}

.day-summary {
    bottom: 60px;
    position: absolute;
    right: 10px;
}

/* Navbar */
.navbar {
    background-color: maroon;
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

.navbar .nav-button {
    color: white;
    font-size: small;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: white;
}

.nav-button:hover a {
    color: black;
}

.nav-button a {
    color: white;
}

.status-info {
    background-color: white;
    border: 1px solid black;
    color: red;
    font-size: small;
    padding: 4px;
    position: absolute;
    right: 0;
    top: 0;
}

/* Timer View */
.timer {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.title-box {
    font-size: xx-large;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15%;
    text-align: center;
    width: 80%;
}

.title-box a.symbol {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.timer .title {
    display: inline-block;
    font-size: xx-large;
}

.actions {
    background-color: rgba(255, 255, 255, 0.1);
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 60%;
}

.action {
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: xx-large;
    font-weight: bold;
    height: 45px;
    margin: 15px;
    width: 45px;

    transition: box-shadow 0.2s;
}

.action:hover {
    box-shadow: 0 0 8px 2px gold;
}

.action.cancel {
    color: red;
}

.action.complete {
    color: green;
}

.notes {
    margin: auto;
    margin-top: 15px;
    width: 60%;
}

.notes textarea {
    resize: none;
    width: 100%;
}

.notes textarea::-webkit-input-placeholder {
    text-align: center;
    font-size: x-large;
    font-style: italic;
}

.notes textarea::-moz-placeholder {
    text-align: center;
    font-size: x-large;
    font-style: italic;
}

.show-notes {
    font-family: "Courier New";
    font-size: small;
}

.summary {
    bottom: 60px;
    color: #555;
    font-size: small;
    font-style: italic;
    position: absolute;
    right: 10px;
}

/* Log Viewer */
.log-viewer {
    overflow-y: auto;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 50px;
}

.log {
    width: 100%;
}

.log-entry {
    border-bottom: 1px solid darkgray;
    position: relative;
    vertical-align: middle;
}

.log-entry:nth-child(even) {
    background-color: white;
}

.log-entry .task-name {
    font-size: large;
    font-weight: bold;
}

.log-entry .duration {
    color: gray;
    font-size: small;
    font-style: italic;
}

.log-entry .symbol {
    background-color: white;
    border-radius: 5px;
    border: 1px solid darkgray;
    font-size: x-large;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 5px;
    width: 25px;
}
